<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2><%= name %></h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li><%= link_to "Home", potepan_path %></li>
          <%# ここの分岐があるのでパーシャル化するか悩んだが、多少分岐してもスリムにした方が良いと判断した。%>
          <%# 分岐が増えることもあるかもしれないので、ハッシュでパラメータを渡すようにした。%>
          <% if defined?(options) && options[:shop] %>
            <li><a href="#">shop</a></li>
          <% end %>
          <li class="active"><%= name %></li>
        </ol>
      </div>
    </div>
  </div>
</section>
