<% products.each do |product|%>
  <%# 引数でgrid_layoutを直接渡すか悩みましたが、デザインに関わる実装をこのファイルから切り離さない方が良いと判断しました。%>
  <% grid_layout = defined?(relative_products) ? "col-md-3 col-sm-6 col-xs-12" : "col-sm-4 col-xs-12" %>
  <%# クオートをつけないとスペース区切り以降が正しくclassに含まれない %>
  <div class="<%= grid_layout %>">
    <div class="productBox">
    <%= link_to potepan_product_path(id: product.id) do %>
      <div class="productImage clearfix">
        <% image = product.master.images.first %>
        <% image ? image_path = image.url(:large) : image_path = "img/products/signle-product/product-slide-big-01.jpg" %>
        <%= image_tag(image_path, :alt => "products-img") %>
      </div>
      <div class="productCaption clearfix">
        <h5><%= product.name %></h5>
        <h3><%= display_price(product) %></h3>
      </div>
    <% end %>
    </div>
  </div>
<% end %>
