<% taxonomies.each do |taxonomy| %>
  <li>
    <a href="javascript:;" data-toggle="collapse" data-target=<%= "#taxonomy_#{taxonomy.id}" %>><%= taxonomy.name %><i class="fa fa-plus"></i></a>
    <ul id=<%= "taxonomy_#{taxonomy.id}" %> class="collapse collapseItem">
      <% taxonomy.taxons.each do |taxon| %>
        <% next if taxon.children.present? %>
        <li>
          <%= link_to potepan_category_path(taxon.id) do %>
            <i class="fa fa-caret-right" aria-hidden="true"></i><%= taxon.name %><span><%= "(#{taxon.products.length})"%></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </li>
<% end %>
