<% if product.master.images.present? %>
  <% product.master.images.each_with_index do |image, count| %>
    <div class="item <%= "active" if count == 0 %>" data-thumb=<%= count %> value="image<%= count %>">
      <%= render 'spree/shared/image',
        image: image,
        size: :large,
        itemprop: "image" %>
    </div>
  <% end %>
<% else %>
  <div class="default_image">
    <%= image_tag("img/products/signle-product/product-slide-big-01.jpg") %>
  </div>
<% end %>
