<div class="row productsContent">
  <div class="col-xs-12">
    <div class="page-header">
      <h4>関連商品</h4>
    </div>
  </div>
  <%= render 'potepan/shared/products', products: products, relative_products: true %>
</div>
