/* テスト環境でのみ使用。Capybaraの動作を安定させるために、CSSのAnimation・Transitionを無効にしています。*/

* {
  transition: none !important;
  -o-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -webkit-transition: none !important;

  transition-property: none !important;
  -o-transition-property: none !important;
  -moz-transition-property: none !important;
  -ms-transition-property: none !important;
  -webkit-transition-property: none !important;

  transform: none !important;
  -o-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -webkit-transform: none !important;

  animation: none !important;
  -o-animation: none !important;
  -moz-animation: none !important;
  -ms-animation: none !important;
  -webkit-animation: none !important;
}
