<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title(yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', media: 'all' %>

    <%# テスト環境でCapybaraの動作を安定させるために実装 %>
    <%= stylesheet_link_tag    'disable_animation' if Rails.env.test? %>
    <%= javascript_tag '$.fx.off = true;' if Rails.env.test? %>

    <!-- CUSTOM CSS -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <%= render partial: 'layouts/header' %>
    <div class="main-wrapper">
      <%= yield %>
    </div>
    <%= render partial: 'layouts/footer' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
